huggingface_hub==0.31.2

gradio==5.29.1

requests==2.31.0

google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.120.0

notion-client==2.2.1
python-dotenv==1.0.1

langgraph==0.4.7
langgraph-sdk==0.1.70
langgraph-cli[inmem]==0.2.10

langsmith==0.3.42

langchain-community==0.3.24
langchain-core==0.3.61
langchain-openai==0.3.18

tavily-python==0.7.2

openai==1.82.0